body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: white;
  width: 300px;
}


header {
  padding: 8px 12px 10px;
}

#stash-div {
  font-family: sans-serif;
  font-size: 10pt;
  margin-top: 1px;
}

stash {
  display: block;
  border-top: 1px solid #DFDFDF;
  padding: 8px 12px 10px;
}

title-row {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #0000EE;

}

a {
  text-decoration: none;
  color: inherit;
}

time-label {
  display: block;
  font-size: 11px;
  color: #A9A9A9;
  margin: 1px 0px 4px;
}

button-row {
  display: block;
}

#new-stash-name {
  width: 200px;
}
