html {
  /* Undo MDL setting. */
  height: initial;
  width: initial;
}

[v-cloak] {
  display: none;
}

.mdl-button {
  height: 32px;
  line-height: 32px;
  font-weight: 400;
}

.mdl-button--icon {
  overflow: visible;
}

.mdl-textfield__input, .mdl-textfield__label {
  font-size: 14px;
}

.mdl-textfield__label {
  top: 22px;
}

[class*=hint--]:after, [class*=hint--]:before {
  text-transform: none;
}

body {
  overflow: auto;
  margin: 0px;
  width: 420px;
}

header {
  padding: 8px 16px;
}

input-row {
  display: flex;
  align-items: center;
  text-align: right;
}

input-row .mdl-textfield {
  flex: 1;
  margin: -5px 0px;
}

input-row button {
  position: relative !important;
  top: -1px;
  margin-left: 10px !important;
  min-width: 150px !important;
}

.mdl-list {
  margin: 0 !important;
  padding: 0 !important;
}

.mdl-list__item {
  outline: none;
  border-top: 1px solid rgba(0,0,0,.12);
  cursor: pointer;
  overflow: visible;
}

.mdl-list__item-primary-content {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  height: 38px !important;
}

.mdl-list__item-secondary-content {
  display: none !important;
  flex-flow: row !important;
}

.mdl-list__item:hover .mdl-list__item-secondary-content {
  display: flex !important;
}

.mdl-list__item-secondary-content button {
  margin-left: 10px;
}
