<!doctype html>
<html>

<head>
  <title>Popup</title>
  <link rel="stylesheet" href="lib/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="lib/hint.min.css" rel="stylesheet" type="text/css">
  <link href="popup.css" rel="stylesheet" type="text/css">
  <script src="lib/chrome-promise.js"></script>
  <script src="lib/lodash.js"></script>
  <script src="main.js"></script>
  <script src="lib/moment.min.js"></script>
  <script src="lib/material.min.js"></script>
  <script src="lib/vue.min.js"></script>
  <script src="popup.js"></script>
</head>

<body v-cloak>
  <welcome v-show="!messages.welcome">
    <section>
      <logo></logo>
      <div>When you <strong>stash tabs</strong>, they are closed and saved in this popup.</div>
    </section>
    <section>
      <img src="img/cmd.svg">
      <div>You can <strong>cherry-pick</strong> tabs to stash by clicking tab handles while holding the <key>{{ modifierKey }}</key> key.</div>
    </section>
    <section>
      <img src="img/shift.svg">
      <div>Or better yet, use the <key>Shift</key> key that works in the same way, but selects a <strong>range</strong> of tabs.</div>
    </section>
    <footer>
      <button v-on:click="gotIt" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised">Got it!</button>
    </footer>
  </welcome>
  <main v-else>
    <header>
      <tip v-if="!messages.openStash && !isEmpty(stashes)">
        <i class="material-icons">info_outline</i>
        <div class="content">
          Your stashes are displayed below. If you click one, it goes from this popup into a new window.
        </div>
      </tip>
      <input-row v-show="mode == 'default'">
        <div class="mdl-textfield mdl-js-textfield new-stash-name">
          <input class="mdl-textfield__input" type="text" id="new-stash-name-window" v-model="stashNameWindow" @keyup.enter="stashWindow">
          <label class="mdl-textfield__label" for="new-stash-name-window">Type stash name & hit Enter</label>
        </div>
        <button v-on:click="stashWindow" tabindex="-1" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised">Stash window</button>
      </input-row>
      <input-row v-show="mode == 'default' || mode == 'singleTab'">
        <div class="mdl-textfield mdl-js-textfield new-stash-name">
          <input class="mdl-textfield__input" type="text" id="new-stash-name-tab" v-model="stashNameTab" @keyup.enter="stashTab">
          <label class="mdl-textfield__label" for="new-stash-name-tab">Type stash name & hit Enter</label>
        </div>
        <button v-on:click="stashTab" tabindex="-1" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised">Stash this tab</button>
      </input-row>
      <input-row v-show="mode == 'selection'">
        <div class="mdl-textfield mdl-js-textfield new-stash-name">
          <input class="mdl-textfield__input" type="text" id="new-stash-name-tabs" v-model="stathNameTabs" @keyup.enter="stashTabs">
          <label class="mdl-textfield__label" for="new-stash-name-tabs">Type stash name & hit Enter</label>
        </div>
        <button v-on:click="stashTabs" tabindex="-1" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised">Stash {{ highlightedTabsLenth | tabs }}</button>
      </input-row>
    </header>
    <ul id="stash-list" class="mdl-list">
      <li role="button" tabindex="0" class="mdl-list__item mdl-list__item--two-line" v-for="stash in stashes | order-by 'timestamp' -1" v-on:click="unstash($key, stash)"  @keyup.enter="unstash($key, stash)" @keyup.space="unstash($key, stash)">
        <span class="mdl-list__item-primary-content">
        {{ stash.name || stashNamePlaceholder }}
        <span class="mdl-list__item-sub-title">{{ stash.tabs.length | tabs }}, {{ stash.timestamp | from-now }}</span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <button v-on:click.stop="topUp($key)" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored hint--top hint--rounded" aria-label="Stash {{ topUpTabsLabel }} here">
            <i class="material-icons">add</i>
          </button>
          <button v-on:click.stop="deleteStash($key)" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored hint--top hint--rounded" aria-label="Delete">
            <i class="material-icons">delete</i>
          </button>
        </span>
      </li>
    </ul>
  </main>
</body>

</html>